<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net451" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net451" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net451" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net451" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net451" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net451" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net451" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net451" />
  <package id="CrystalReportsWeb" version="13.0.9.1312" targetFramework="net451" />
</packages>